NODE_ENV=production

PORT=8000

// logger settings
APP_ID=api
LOG_LEVEL=debug


REQUEST_LIMIT=100kb

// Database
MONGO_URI="mongodb://kofi123:kofi123@cluster0.dwsc6p1.mongodb.net"
LOCAL_CONNECTION_STRING="mongodb://radiovision:uobarG49whvvMMvF@radiovision.jfl0ksx.mongodb.net"
